*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: rgb(32, 32, 30);
    font-family: 'Varela Round', sans-serif;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    
    
}
.inner-header{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    
    
}
.market-container{ 
    display: flex;
    justify-content: center; 
    text-align: center; 
    
   
}
.market-cap{
    color: rgb(255, 255, 255);
    height: 100%;
    font-family:sans-serif;
    font-size: 20px;
    
}
.container{
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
    
    
}
.logo{
    height: 50%;
    width: 500px;
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items:flex-end;
    margin-bottom: 60px;
    font-family: 'Rubik', sans-serif;
    z-index: 1;
    
}


.colorp{
    color: blueviolet;
}
.eth-container{
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5px;
    height: 600px;
    width: 500px;
    border: 1px solid rgb(0, 123, 255);
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 34, 255, 0.213);
    margin-top: 150px;
    cursor: pointer;
    transition: 1s;
    
    
}
.eth-container:hover{
    background-color: rgba(0, 34, 255, 0.483);
    box-shadow: -1px 1px 37px 4px rgba(6, 43, 164, 0.75);
-webkit-box-shadow: -1px 1px 37px 4px rgba(34, 10, 209, 0.75);
-moz-box-shadow: -1px 1px 37px 4px rgba(45, 18, 219, 0.75);
    
}

.btc-container{
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding-top: 5px;
    height: 600px;
    width: 500px;
    border: 1px solid rgb(255, 217, 0);
    border-radius: 30px;
    color: white;
    background-color: rgba(255, 162, 0, 0.086);
    margin-top: 150px;
    transition: 1s;
    cursor: pointer;
    
    
}
.btc-container:hover{
    background-color: rgba(255, 162, 0, 0.37);
    box-shadow: -1px 1px 37px 4px rgba(180, 105, 7, 0.75);
-webkit-box-shadow: -1px 1px 37px 4px rgba(239, 120, 9, 0.75);
-moz-box-shadow: -1px 1px 37px 4px rgba(200, 122, 12, 0.75);
}
.crypto{
    height: 100px;
    width: 100%;
    justify-content: center;
    display: flex;;
    
}
.coin-logo{
    width: 100px;
    border-radius: 50px;
}

.informacion{
    text-align: center;
    width: 100%;
    height: 60%;
    
}

.other-container{
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.other-top{
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 90%;
    height: 90%; 
    justify-content: center;
}

.coins{
display:flex;
flex-wrap: wrap;
flex-direction: column;
width: 150px;
height: 150px;
border: 1px solid rgb(82, 39, 119);
margin: 20px 20px;
color: white;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 30px;
cursor: pointer;
transition: 0.7s;
background-color: rgba(42, 5, 59, 0.982);
}

.coins:hover{
background-color: rgba(182, 57, 236, 0.37); 
box-shadow: -2px 1px 17px 2px rgba(148, 9, 235, 0.46);
-webkit-box-shadow: -2px 1px 17px 2px rgba(177, 8, 243, 0.46);
-moz-box-shadow: -2px 1px 17px 2px rgba(173, 0, 253, 0.46); 
width: 170px;
height: 170px;
}
#coins-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
}
